.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.app-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 2rem;
}

.nav-link:hover {
  text-decoration: none;
}